<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <!-- <%- include("../partials/profile") %> -->
    <div class="header">
      <button class="botbutton">Ask Chrono bot</button>
      <button class="botbutton">Add Countdown</button>
    </div>
    <div class="content">
      <div class="profile">
        <div class="widget-avatar">
          <img src="/images/avatar.png" alt="">
        </div>
        <div class="greetings">
          <p class="welcome">Welcome Back!</p>
          <p class="username">Nikhil</p>
        </div>
      </div>
      <div class="group">
        <div class="group-heading">
          <p>Group Projects:</p>
        </div>
        <div class="project-list">
          <div class="project"><img src="/images/group-avatar.png" alt=""><p>Project 1</p></div>
          <div class="project"><img src="/images/group-avatar.png" alt=""><p>Project 2</p></div>
          <div class="project"><img src="/images/group-avatar.png" alt=""><p>Project 3</p></div>
          <div class="project"><img src="/images/group-avatar.png" alt=""><p>Project 4</p></div>
          <div class="project"><img src="/images/group-avatar.png" alt=""><p>Project 5</p></div>
        </div>
      </div>
      <div class="streak">
        <div class="streak-icon-wrapper">        
          <div class="streak-icon">
            <img src="/images/streak-icon.png" alt="">
          </div>
        </div>
        <div class="streak-display-wrapper">
          <div class="streak-heading">
            <p>Ongoing Streak</p>
          </div>
          <div class="streak-display">
            <p><span class="streak-counter">24</span> <span>Days</span></p>
          </div>
        </div>
      </div>
      <div class="graph"></div>
      <div class="list"></div>
      <div class="matrix"></div>
      <div class="timer"></div>
      <div class="countdown1"></div>
      <div class="countdown2"></div>
      <div class="shortmenu"></div>
    </div>
    <div class="footer"></div>
  </body>
</html>
