<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- include("../partials/profile") %>
    <div class="header">
      <button class="botbutton">Ask Chrono bot</button>
      <button class="botbutton">Add Countdown</button>
    </div>
    <div class="content">
      <div class="profile"></div>
      <div class="group"></div>
      <div class="streak"></div>
      <div class="graph"></div>
      <div class="list"></div>
      <div class="matrix"></div>
      <div class="timer"></div>
      <div class="countdown1"></div>
      <div class="countdown2"></div>
      <div class="shortmenu"></div>
    </div>
  </body>
</html>
