<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/Frontend/styles/home.css" />
    <link rel="stylesheet" href="/Frontend/styles/nav.css" />
    <link rel="stylesheet" href="/Frontend/styles/palette.css" />
    <!-- Link to home.css -->
  </head>
  <body>
    <%- include('../partials/navbar') %> 
    <!-- <%- include('../partials/profile', {
    user: user }) %> -->
    <div class="header">Welcome to the Home Page</div>
    <div class="content">
      <p>This is the home page content.</p>
      <button class="button">Click Me</button>
    </div>
  </body>
</html>
