<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club</title>
    <link rel="stylesheet" href="/styles/page0.css">
  </head>
  <body>
      <div class="main">
          <form action="/login" , method="get">
            <div class="wrapper1 wrapper">
              <button type="submit"><span>Login</span></button>
            </div>
          </form>
          <form action="/register" , method="get">
            <div class="wrapper2 wrapper">
              <button type="submit"><span>New Account</span></button>
            </div>
          </form>
      </div>
  </body>
</html>
