<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club</title>
  </head>
  <body>
    <div class="main1">
      <div class="main2">
        <form action="/login" , method="get">
          <button type="submit">login</button>
        </form>
        <form action="/register" , method="get">
          <button type="submit">New Account</button>
        </form>
      </div>
    </div>
  </body>
</html>
