<header>
  <div class="wrapper">
    <h1 class="logo">Club<span>Logo</span></h1>
    <nav class="main-nav">
      <ul>
        <li>
          <a href="/home"><i class="fa fa-home nav-icon"></i>Home</a>
        </li>
        <li>
          <a href="/notes"><i class="fa fa-info nav-icon"></i>Notes</a>
        </li>
        <li>
          <a href="/discussion0"><i class="fa fa-usd nav-icon"></i>Discussion</a>
        </li>
        <li>
          <a href="/announcement"
            ><i class="fa fa-heart nav-icon"></i>Announcement</a>
        </li>
        <li>
          <a href="/logout"><i class="fa fa-envelope nav-icon"></i>Logout</a>
        </li>
        <li>
          <img class="right-item" src="/Frontend/images/avatar.png"alt="user.avatar">
        </li>
      </ul>
    </nav>
  </div>
</header>
