<link rel="stylesheet" href="/css/navbar.css" />
<header>
  <div class="wrapper">
    <h1 class="logo">Club<span>Logo</span></h1>
    <nav class="main-nav">
      <ul>
        <li>
          <a href="/home"><i class="fa fa-home nav-icon"></i>Home</a>
        </li>
        <li>
          <a href="/notes"><i class="fa fa-info nav-icon"></i>Chatroom</a>
        </li>
        <li>
          <a href="/discussion"><i class="fa fa-usd nav-icon"></i>SwipePage</a>
        </li>
        <li>
          <a href="/announcement"><i class="fa fa-heart nav-icon"></i>Matches</a>
        </li>
        <li>
          <a href="/logout"><i class="fa fa-envelope nav-icon"></i>Logout</a>
        </li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>
</header>
