* {
  padding: 0;
  margin: 0;
}



#video-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#local-video-wrapper,
#remote-video-wrapper {
  position: relative;
  width: 45%;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#toggle-video-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 400px;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #fff;
  align-self: flex-start;
}

#chat-input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#room-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#room-select {
  margin-left: 10px;
  padding: 5px;
}

#join-room-button,
#create-room-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#create-room-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#create-room-container input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#create-room-submit-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#created-rooms-container {
  margin-top: 20px;
  text-align: center;
}

#created-rooms-list {
  list-style-type: none;
  padding: 0;
}

#created-rooms-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
